body{
    font-family: sans-serif;
    margin: 50px 100px;
    background-color: white;
}
.card-tile{
    height: 50px;
    width: auto;
    border-radius: 5%;
    float: right;
    margin: 0 2rem 0 0;
}
.card{
    
    background-color: white;
    height: 200px;
    width: 300px;
    border-radius: 2%;
    box-shadow: 2px 15px 20px -10px gray;
    

}
.card h2{
    margin: 1.5rem 0 0 1.3rem;
    color: rgb(73, 73, 73);
}
.card p{
    margin: 1rem 1rem 1rem 1.3rem ;
    color: gray;
}
.container1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.one{
    border-top: 3px solid red;
    position: relative;
    top: 85px;
}
.two{
    border-top: 3px solid cyan;
    position: relative;
    right: 320px;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.three{
    border-top: 3px solid rgb(255, 196, 0);
    position: relative;
    bottom: 85px;
}
.four{
    border-top: 3px solid blue;
    position: relative;
    left: 320px;
    bottom: 405px;
}